@import 'tailwindcss';

@theme {
	--color-background: #0b0014;
	--color-primary: #f4ac45;
	--color-text: #a61c3c;
	--color-cblue: #6e75a8;
	--color-wite: #e7dfe8;

	--text-color: var(--color-text);
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: var(--color-background);
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary-lighter);
}
